body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  color: #101828;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 1440px;
  padding: 0 64px;
}
